ergasia/flow.json
[
  {
    "id": "inject-start",
    "type": "inject",
    "z": "1",
    "name": "Run Model",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 130,
    "y": 100,
    "wires": [["http-run"]]
  },
  {
    "id": "http-run",
    "type": "http request",
    "z": "1",
    "name": "Call Python Container",
    "method": "GET",
    "ret": "txt",
    "url": "http://python-model:5000/run-model",
    "x": 330,
    "y": 100,
    "wires": [["json-parse"]]
  },
  {
    "id": "json-parse",
    "type": "json",
    "z": "1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 540,
    "y": 100,
    "wires": [["split-output"]]
  },
  {
    "id": "split-output",
    "type": "function",
    "z": "1",
    "name": "Extract Accuracy and Report",
    "func": "// Extract fields from API response\nlet accuracy = msg.payload.accuracy;\nlet report = msg.payload.report;\n\n// Split classification report into lines\nlet lines = report.trim().split(\"\\n\");\nlet rows = [];\n\nfor (let line of lines) {\n    let cols = line.trim().split(/\\s+/);\n    if (cols.length === 5) {\n        rows.push(cols);\n    }\n}\n\n// Send to both gauge and table\nreturn [\n    { topic: \"Accuracy\", payload: accuracy },\n    { topic: \"Report\", payload: rows }\n];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 100,
    "wires": [["ui-accuracy"], ["ui-report-table"]]
  },
  {
    "id": "ui-accuracy",
    "type": "ui_gauge",
    "z": "1",
    "name": "Accuracy Gauge",
    "group": "dashboard-group",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "donut",
    "title": "Model Accuracy",
    "label": "%",
    "format": "{{payload * 100 | number:1}}",
    "min": 0,
    "max": 1,
    "x": 1020,
    "y": 60,
    "wires": []
  },
  {
    "id": "ui-report-table",
    "type": "ui_template",
    "z": "1",
    "group": "dashboard-group",
    "name": "Classification Report Table",
    "order": 2,
    "width": 6,
    "height": 6,
    "format": "<table style=\"width:100%; text-align:center; border-collapse: collapse;\">\n  <thead>\n    <tr>\n      <th>Label</th>\n      <th>Precision</th>\n      <th>Recall</th>\n      <th>F1-Score</th>\n      <th>Support</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr ng-repeat=\"row in msg.payload\">\n      <td>{{row[0]}}</td>\n      <td>{{row[1]}}</td>\n      <td>{{row[2]}}</td>\n      <td>{{row[3]}}</td>\n      <td>{{row[4]}}</td>\n    </tr>\n  </tbody>\n</table>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 830,
    "y": 160,
    "wires": []
  },
  {
    "id": "dashboard-group",
    "type": "ui_group",
    "name": "Model Metrics",
    "tab": "dashboard-tab",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "dashboard-tab",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1
  }
]